<div class="dynamic-row" id="partRow{{ index }}">
    <button type="button" class="btn btn-sm remove-row" onclick="removeRow('partRow{{ index }}')">
        <i class="bi bi-x-circle"></i>
    </button>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Наименование материала*</label>
            <input type="text" name="parts-{{ index }}-name" 
                   class="form-control part-name">
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Ед. изм.*</label>
            <input type="text" name="parts-{{ index }}-unit" 
                   class="form-control part-unit" value="шт.">
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Количество*</label>
            <input type="number" name="parts-{{ index }}-quantity" 
                   class="form-control part-quantity">
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Цена (руб.)*</label>
            <input type="number" step="0.01" name="parts-{{ index }}-price" 
                   class="form-control part-price">
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Сумма (руб.)*</label>
            <input type="number" step="0.01" name="parts-{{ index }}-total" 
                   class="form-control part-total" readonly>
        </div>
    </div>
</div>